<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--相关常量的配置-->
    <settings>
        <!--配置驼峰命名规则-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>

        <!--开启二级缓存-->
        <setting name="cacheEnabled" value="true"/>

        <!-- 对于级联延迟加载 -->
        <setting name="lazyLoadingEnabled" value="false"/>

        <!-- 对于懒加载的数据按需加载，不一次性加载 -->
        <setting name="aggressiveLazyLoading" value="true"/>

        <!--配置打印sql-->
        <setting name="logImpl" value="STDOUT_LOGGING" />

    </settings>

    <!--配置别名，配置后bean及子包下类名不能重复-->
    <typeAliases>
        <package name="com.ebook.beans"/>
    </typeAliases>

    <!--配置分页插件-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor">
            <!--分页参数合理化  -->
            <property name="reasonable" value="true"/>
        </plugin>
    </plugins>


</configuration>

