<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebook.daos.BookDao">

    <cache type="com.model.utills.redis.RedisCache" />

    <select id="getBooks" resultType="Book">
        select * from bookinfo order by id desc
    </select>

    <insert id="save" parameterType="Book">
        insert into bookinfo
        (
        name,
        price,
        pub_Date,
        pic
        )
        values
        (
        #{name},
        #{price},
        #{pubDate},
        #{pic}
        )
    </insert>
</mapper>