<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebook.daos.BookDao">

    <cache type="com.model.utills.redis.RedisCache" />


    <resultMap id="bookinfo" type="Book">
        <id property="id" column="id"/>
        <result property="bookName" column="bookName"/>
        <result property="author" column="author"/>
        <result property="bookType" column="bookType"/>
        <result property="bookPrice" column="bookPrice"/>
        <result property="pubDate" column="pubDate"/>
        <result property="bookPub" column="bookPub"/>
        <result property="bookPic" column="bookPic"/>
        <result property="weiXin" column="weiXin"/>
        <result property="phone" column="phone"/>
        <result property="des" column="des"/>
        <result property="createTime" column="createTime"/>
        <association property="createUser" javaType="User" select="getUser" column="createUser">
            <id property="id" column="id"/>
            <result property="studNo" column="studNo"/>
            <result property="weiXin" column="weiXin"/>
            <result property="nickname" column="nickname"/>
            <result property="openId" column="openId"/>
        </association>
    </resultMap>

    <!--查询用户信息-->
    <select id="getUser"  resultType="User">
        select id,weiXin,studNo,nickname,openId from userInfo where id = #{createUser}
    </select>

    <!--查看图书table-->
    <select id="getBooks" resultMap="bookinfo" parameterType="BookQuery">
        select
         id, bookName, author,bookType, bookPrice, pubDate, bookPub, bookPic, weiXin, phone, des, createTime, createUser
        from bookInfo
        where dataStatus = 1
       <if test="bookName != null">and bookName like '%' #{bookName} '%'</if>
        <if test="bookType != null">and bookType = #{bookType} </if>
        <if test="startPrice != null">and bookPrice &gt;= #{startPrice} </if>
        <if test="endPrice != null">and bookPrice &lt;= #{endPrice} </if>
        <if test="startTime != null">and createTime &gt;= #{startTime} </if>
        <if test="endTime != null">and createTime &lt; #{endTime} </if>
        <if test="flag == 1">and createUser = #{createUser} </if>
        order by createTime desc
    </select>

    <!--查看图书详情-->
    <select id="getById" resultMap="bookinfo">
      select
       id, bookName, author,bookType, bookPrice, pubDate, bookPub, bookPic, weiXin, phone, des, createUser, createTime
      from bookInfo where id = #{id}
    </select>

    <!--编辑图书-->
    <update id="update" parameterType="Book">
        update bookInfo
        <set>
            <if test="#{bookName}!=null">bookName=#{bookName},</if>
            <if test="#{author}!=null">author=#{author},</if>
            <if test="#{bookPrice}!=null">bookPrice=#{bookPrice},</if>
            <if test="#{pubDate}!=null">pubDate=#{pubDate},</if>
            <if test="#{bookPub}!=null">bookPub=#{bookPub},</if>
            <if test="#{bookPic}!=null">bookPic=#{bookPic},</if>
            <if test="#{weiXin}!=null">weiXin=#{weiXin},</if>
            <if test="#{phone}!=null">phone=#{phone},</if>
            <if test="#{des}!=null">des=#{des},</if>
            <if test="#{updateUser}!=null">updateUser=#{updateUser.id},</if>
            <if test="#{updateTime}!=null">updateTime=#{updateTime}</if>
        </set>
        where id = #{id}
    </update>

    <!--删除图书（软删）-->
    <delete id="delete" parameterType="BookQuery">
        update bookInfo
        set dataStatus = 100
        where
        <choose>
            <when test="id != null">id = #{id}</when>
            <when test="ids != null">
                id in
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </when>
        </choose>
    </delete>

    <!--添加图书-->
    <insert id="save" parameterType="Book">
        insert into bookInfo
        (
            id,
            bookName,
            bookType,
            author,
            bookPrice,
            pubDate,
            bookPub,
            bookPic,
            weiXin,
            phone,
            des,
            createUser,
            createTime,
            dataStatus,
            viewTimes
        )
        values
        (
            #{id},
            #{bookName},
            #{bookType},
            #{author},
            #{bookPrice},
            #{pubDate},
            #{bookPub},
            #{bookPic},
            #{weiXin},
            #{phone},
            #{des},
            #{createUser.id},
            #{createTime},
            1,
            0
        )
    </insert>

    <!--系统将数据标注为敏感信息-->
    <update id="updateWarning" parameterType="BookQuery">
      update bookinfo set dataStatus = 101
      where dataStatus in
      <foreach collection="ids" item="id" open="(" separator="," close=")">
          #{id}
      </foreach>
    </update>

    <!--对系统过滤敏感词的处理-->
    <update id="updateDel" parameterType="BookQuery">
        update bookinfo set dataStatus = 101
        where dataStatus in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>


    <!--浏览量的统计-->
    <update id="updateViews" parameterType="BookQuery">
        update bookInfo set viewTimes = viewTimes + #{viewTimes} where id = #{id}
    </update>

</mapper>