<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebook.daos.ElectronicsDao">

    <cache type="com.model.utills.redis.RedisCache" />


    <resultMap id="electronicsinfo" type="Electronics">
        <id property="id" column="id"/>
        <result property="electronicsName" column="electronicsName"/>
        <result property="electronicsType" column="electronicsType"/>
        <result property="originalPrice" column="originalPrice"/>
        <result property="presentPrice" column="presentPrice"/>
        <result property="buyDate" column="buyDate"/>
        <result property="hasInvoice" column="hasInvoice"/>
        <result property="electronicsPic" column="electronicsPic"/>
        <result property="weiXin" column="weiXin"/>
        <result property="phone" column="phone"/>
        <result property="des" column="des"/>
        <result property="createTime" column="createTime"/>
        <association property="createUser" javaType="User" select="getUser" column="createUser">
            <id property="id" column="id"/>
            <result property="studNo" column="studNo"/>
            <result property="weiXin" column="weiXin"/>
            <result property="nickname" column="nickname"/>
            <result property="openId" column="openId"/>
            <result property="sex" column="sex"/>
            <result property="headImg" column="headImg"/>
            <result property="buildingNumber" column="buildingNumber"/>
            <result property="superMarketName" column="superMarketName"/>
            <result property="buildingNum" column="buildingNum"/>
        </association>
    </resultMap>

    <!--查询用户信息-->
    <select id="getUser"  resultType="User">
        select id,weiXin,studNo,nickname,openId,sex,headImg,buildingNumber,superMarketName,buildingNum from userInfo where id = #{createUser}
    </select>


    <select id="getElectronics" resultMap="electronicsinfo">
      select id,electronicsName,electronicsType,originalPrice,presentPrice,buyDate,hasInvoice,electronicsPic,weiXin,phone,des,createTime,createUser
      from electronicsinfo
      where dataStatus = 1
        <if test="electronicsName != null">and electronicsName like '%' #{electronicsName} '%'</if>
        <if test="electronicsType != null">and electronicsType = #{electronicsType} </if>
        <if test="hasInvoice != null">and hasInvoice = #{hasInvoice} </if>
        <if test="startPrice != null">and presentPrice &gt;= #{startPrice} </if>
        <if test="endPrice != null">and presentPrice &lt;= #{endPrice} </if>
        <if test="startTime != null">and createTime &gt;= #{startTime} </if>
        <if test="endTime != null">and createTime &lt; #{endTime} </if>
        <if test="flag == 1">and createUser = #{createUser} </if>
      order by createTime desc
    </select>

    <select id="getById" resultMap="electronicsinfo">
      select id,electronicsName,electronicsType,originalPrice,presentPrice,buyDate,hasInvoice,electronicsPic,weiXin,phone,des,createTime,createUser from electronicsinfo
      where id = #{id}
    </select>

    <update id="update" parameterType="Electronics">
        update electronicsinfo
        <set>
            <if test="#{electronicsName}!=null">electronicsName=#{electronicsName},</if>
            <if test="#{electronicsType}!=null">electronicsType=#{electronicsType},</if>
            <if test="#{originalPrice}!=null">originalPrice=#{originalPrice},</if>
            <if test="#{presentPrice}!=null">presentPrice=#{presentPrice},</if>
            <if test="#{buyDate}!=null">buyDate=#{buyDate},</if>
            <if test="#{hasInvoice}!=null">hasInvoice=#{hasInvoice},</if>
            <if test="#{electronicsPic}!=null">electronicsPic=#{electronicsPic},</if>
            <if test="#{weiXin}!=null">weiXin=#{weiXin},</if>
            <if test="#{phone}!=null">phone=#{phone},</if>
            <if test="#{des}!=null">des=#{des},</if>
            <if test="#{updateUser}!=null">updateUser=#{updateUser.id},</if>
            <if test="#{updateTime}!=null">updateTime=#{updateTime}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="ElectronicsQuery">
      update electronicsinfo
        set dataStatus = 100
        where
        <choose>
            <when test="id != null">id = #{id}</when>
            <when test="ids != null">
                id in
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </when>
        </choose>
    </delete>

    <insert id="save" parameterType="Electronics">
      insert into electronicsinfo
      (
        id,
        electronicsName,
        electronicsType,
        originalPrice,
        presentPrice,
        buyDate,
        hasInvoice,
        electronicsPic,
        weiXin,
        phone,
        des,
        viewTimes,
        createTime,
        createUser,
        dataStatus
      )
      values
      (
        #{id},
        #{electronicsName},
        #{electronicsType},
        #{originalPrice},
        #{presentPrice},
        #{buyDate},
        #{hasInvoice},
        #{electronicsPic},
        #{weiXin},
        #{phone},
        #{des},
        0,
        #{createTime},
        #{createUser.id},
        1
      )
    </insert>

    <!--系统将数据标注为敏感信息-->
    <update id="updateWarning" parameterType="ElectronicsQuery">
        update electronicsinfo set dataStatus = 101
        where dataStatus in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <!--对系统过滤敏感词的处理-->
    <update id="updateDel" parameterType="ElectronicsQuery">
        update electronicsinfo set dataStatus = 101
        where dataStatus in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <!--浏览量的统计-->
    <update id="updateViews" parameterType="BookQuery">
        update electronicsinfo set viewTimes = viewTimes + #{viewTimes} where id = #{id}
    </update>

</mapper>