<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebook.daos.ElectronicsTypeDao">

    <cache type="com.model.utills.redis.RedisCache" />


    <!--查看图书table-->
    <select id="getElectronicsType" resultType="ElectronicsType" parameterType="ElectronicsTypeQuery">
        select id,typeName name,des from electronicstypeinfo
    </select>

    <!--查看图书详情-->
    <select id="getById" resultType="ElectronicsType">
      select id,typeName name,des from electronicstypeinfo where id = #{id}
    </select>

    <!--编辑图书-->
    <update id="update" parameterType="ElectronicsType">
        update electronicstypeinfo
        <set>
            <if test="#{typeName}!=null">name=#{typeName},</if>
            <if test="#{des}!=null">des=#{des}</if>
        </set>
        where id = #{id}
    </update>

    <!--删除图书（软删）-->
    <delete id="delete" parameterType="ElectronicsTypeQuery">
        update electronicstypeinfo
        set dataStatus = 100
        where
        id in 
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--添加图书-->
    <insert id="save" parameterType="ElectronicsType">
        insert into booktypeInfo
        (
            id,
            typeName,
            des
        )
        values
        (
            #{id},
            #{typeName},
            #{des}
        )
    </insert>


</mapper>