<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebook.daos.OtherDao">

    <cache type="com.model.utills.redis.RedisCache" />


    <resultMap id="otherinfo" type="Other">
        <id property="id" column="id"/>
        <result property="otherName" column="otherName"/>
        <result property="buyDate" column="buyDate"/>
        <result property="originalPrice" column="originalPrice"/>
        <result property="presentPrice" column="presentPrice"/>
        <result property="hasInvoice" column="hasInvoice"/>
        <result property="otherPic" column="otherPic"/>
        <result property="weiXin" column="weiXin"/>
        <result property="phone" column="phone"/>
        <result property="des" column="des"/>
        <result property="createTime" column="createTime"/>
        <association property="createUser" column="createUser" javaType="User" select="getUser">
            <id property="id" column="id"/>
            <result property="studNo" column="studNo"/>
            <result property="weiXin" column="weiXin"/>
            <result property="nickname" column="nickname"/>
            <result property="openId" column="openId"/>
        </association>
    </resultMap>

    <select id="getUser" resultType="User">
        select id,weiXin,studNo,nickname,openId from userInfo where id = #{createUser}
    </select>

    <select id="getOthers" resultMap="otherinfo">
       select  id,otherName,buyDate,originalPrice,presentPrice,hasInvoice,otherPic,weiXin,phone,des,createTime,createUser
      from otherInfo
      where dataStatus = 1
        <if test="otherName != null">and otherName like '%' #{otherName} '%'</if>
        <if test="hasInvoice != null">and hasInvoice &gt;= #{hasInvoice} </if>
        <if test="startPrice != null">and presentPrice &gt;= #{startPrice} </if>
        <if test="endPrice != null">and presentPrice &lt;= #{endPrice} </if>
        <if test="startTime != null">and buyDate &gt;= #{startTime} </if>
        <if test="endTime != null">and buyDate &lt;= #{endTime} </if>
        <if test="flag != null">and createUser = #{createUser} </if>
      order by createTime desc
    </select>

    <select id="getById" resultMap="otherinfo">
      select  id,otherName,buyDate,originalPrice,presentPrice,hasInvoice,otherPic,weiXin,phone,des,createTime,createUser
      from otherInfo
      where id = #{id}

    </select>

    <update id="update" parameterType="Other">
        update otherInfo
        <set>
            <if test="#{otherName}!=null"> otherName = #{otherName},</if>
            <if test="#{buyDate}!=null"> buyDate = #{buyDate},</if>
            <if test="#{originalPrice}!=null"> originalPrice = #{originalPrice},</if>
            <if test="#{presentPrice}!=null"> presentPrice = #{presentPrice},</if>
            <if test="#{hasInvoice}!=null"> hasInvoice = #{hasInvoice},</if>
            <if test="#{otherPic}!=null"> otherPic = #{otherPic},</if>
            <if test="#{weiXin}!=null"> weiXin = #{weiXin},</if>
            <if test="#{phone}!=null"> phone = #{phone},</if>
            <if test="#{des}!=null"> des = #{des},</if>
            <if test="#{updateTime}!=null"> updateTime = #{updateTime},</if>
            <if test="#{updateUser}!=null"> updateUser = #{updateUser.id}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="OtherQuery">
      update otherInfo
      set dataStatus= 100
      where
        <choose>
            <when test="id != null">id = #{id}</when>
            <when test="ids != null">
                id in
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </when>
        </choose>
    </delete>

    <insert id="save" parameterType="Other">
      insert into otherInfo
        (
            id,
            otherName,
            buyDate,
            originalPrice,
            presentPrice,
            hasInvoice,
            otherPic,
            weiXin,
            phone,
            des,
            createTime,
            createUser,
            viewTimes,
            dataStatus
        )
        values
        (
            #{id},
            #{otherName},
            #{buyDate},
            #{originalPrice},
            #{presentPrice},
            #{hasInvoice},
            #{otherPic},
            #{weiXin},
            #{phone},
            #{des},
            #{createTime},
            #{createUser.id},
            0,
            1
        )
    </insert>

    <!--系统将数据标注为敏感信息-->
    <update id="updateWarning" parameterType="OtherQuery">
        update otherInfo set dataStatus = 101
        where dataStatus in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <!--对系统过滤敏感词的处理-->
    <update id="updateDel" parameterType="OtherQuery">
        update otherInfo set dataStatus = 101
        where dataStatus in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <!--浏览量的统计-->
    <update id="updateViews" parameterType="OtherQuery">
        update otherInfo set viewTimes = viewTimes + #{viewTimes} where id = #{id}
    </update>

</mapper>