<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebook.daos.ReportTypeInfoDao">

    <cache type="com.model.utills.redis.RedisCache" />

    <select id="getReportTypeInfo" resultType="ReportTypeInfo">

    </select>

    <select id="getById" resultType="ReportTypeInfo">

    </select>

    <update id="update" parameterType="ReportTypeInfo">

    </update>

    <delete id="delete" parameterType="ReportTypeInfoQuery">

    </delete>

    <insert id="save" parameterType="ReportTypeInfo">

    </insert>
</mapper>