<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebook.daos.ReportUserDao">

    <cache type="com.model.utills.redis.RedisCache" />


    <resultMap id="reportuserinfo" type="ReportUser">
        <id property="id" column="id"/>
        <result property="tutoringId" column="tutoringId"/>
        <result property="des" column="des"/>
        <result property="createTime" column="createTime"/>
        <association property="userId" javaType="User" select="getUser" column="userId">
            <id property="id" column="id"/>
            <result property="studNo" column="studNo"/>
            <result property="weiXin" column="weiXin"/>
            <result property="nickname" column="nickname"/>
            <result property="openId" column="openId"/>
        </association>
        <association property="createUser" javaType="User" select="getCreateUser" column="createUser">
            <id property="id" column="id"/>
            <result property="studNo" column="studNo"/>
            <result property="weiXin" column="weiXin"/>
            <result property="nickname" column="nickname"/>
            <result property="openId" column="openId"/>
        </association>
    </resultMap>

    <!--查询用户信息-->
    <select id="getUser"  resultType="User">
        select id,weiXin,studNo,nickname,openId from userInfo where id = #{createUser}
    </select>

    <select id="getCreateUser"  resultType="User">
        select id,weiXin,studNo,nickname,openId from userInfo where id = #{createUser}
    </select>

    <select id="getReportUser" resultMap="reportuserinfo">
      select id,userId,tutoringId,des,createTime,createUser from reportuserinfo
    </select>

    <select id="getById" resultMap="reportuserinfo">
      select id,userId,tutoringId,des,createTime,createUser from reportuserinfo
       where id = #{id}
    </select>

    <update id="update" parameterType="ReportUser">
      update tutoringinfo set dataStatus = 100
      where id = #{id}
    </update>

    <delete id="delete" parameterType="ReportUserQuery">
      delete from reportuserinfo
      where id = #{id}
    </delete>

    <insert id="save" parameterType="ReportUser">
      insert into reportuserinfo
      (
        id,
        userId,
        TutoringId,
        des,
        createTime,
        createUser,
        dataStatus
      )
      values
      (
        #{id},
        #{userId.id},
        #{TutoringId},
        #{des},
        #{createTime},
        #{createUser.id},
        1
      )
    </insert>
</mapper>