<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebook.daos.ReportProductDao">

    <cache type="com.model.utills.redis.RedisCache" />

    <select id="getReportProducts" resultType="ReportProduct">
      select id,productId,productName,productType,reportType,des,createTime,weiXin from reportproductinfo
      where dataStatus = 1
        <if test="productName != null">and productName like '%' #{productName} '%'</if>
        <if test="productType != null">and productType = #{productType}</if>
        <if test="reportType != null">and reportType = #{reportType}</if>
    </select>

    <select id="getById" resultType="ReportProduct">
      select id,productId,productName,productType,reportType,des,createTime,weiXin from reportproductinfo
      where id = #{id}
    </select>

    <update id="update" parameterType="ReportProduct">

    </update>

    <!--直接删除-->
    <delete id="delete" parameterType="ReportProductQuery">
      update reportproductinfo
      set dataStatus = 100
      where id = #{id}
    </delete>

    <!--处理举报-->
   <!-- <delete id="updateEdit" parameterType="ReportProductQuery">

    </delete>-->

    <!--插入举报信息-->
    <insert id="save" parameterType="ReportProduct">
      insert into
      (
        id,
        productId,
        productName,
        productType,
        reportType,
        des,
        createTime,
        weiXin,
        dataStatus
      )
      values
      (
        #{id}
        #{productId},
        #{productName},
        #{productType},
        #{reportType},
        #{des},
        #{createTime},
        #{weiXin},
        1
      )
    </insert>
</mapper>