<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebook.daos.TutoringDao">

    <cache type="com.model.utills.redis.RedisCache" />


    <resultMap id="tutoringinfo" type="Tutoring">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="price" column="price"/>
        <result property="startTime" column="startTime"/>
        <result property="endTime" column="endTime"/>
        <result property="place" column="place"/>
        <result property="weiXin" column="weiXin"/>
        <result property="phone" column="phone"/>
        <result property="des" column="des"/>
        <result property="isScore" column="isScore"/>
        <result property="orderUser" column="orderUser"/>
        <result property="createTime" column="createTime"/>
        <result property="checkCode" column="checkCode"/>
        <association property="createUser" javaType="User" select="getUser" column="createUser">
            <id property="id" column="id"/>
            <result property="studNo" column="studNo"/>
            <result property="weiXin" column="weiXin"/>
            <result property="nickname" column="nickname"/>
            <result property="openId" column="openId"/>
        </association>
    </resultMap>

    <resultMap id="tutoringinfos" type="Tutoring">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="price" column="price"/>
        <result property="startTime" column="startTime"/>
        <result property="endTime" column="endTime"/>
        <result property="place" column="place"/>
        <result property="weiXin" column="weiXin"/>
        <result property="phone" column="phone"/>
        <result property="isScore" column="isScore"/>
        <result property="orderUser" column="orderUser"/>
        <result property="createTime" column="createTime"/>
        <result property="checkCode" column="checkCode"/>
        <association property="createUser" javaType="User" select="getUser" column="createUser">
            <id property="id" column="id"/>
            <result property="studNo" column="studNo"/>
            <result property="weiXin" column="weiXin"/>
            <result property="nickname" column="nickname"/>
            <result property="openId" column="openId"/>
        </association>
    </resultMap>

    <!--查询用户信息-->
    <select id="getUser"  resultType="User">
        select id,weiXin,studNo,nickname,openId from userInfo where id = #{createUser}
    </select>

    <select id="getTutorings" resultMap="tutoringinfos">
        select id,name,type,price,startTime,endTime,place,weiXin,phone,createTime,updateTime,createUser,isScore,orderUser
        from tutoringinfo
        where dataStatus = 1
        <if test="name != null">and name like '%' #{name} '%'</if>
        <if test="type != null">and type = #{type} </if>
        <if test="startPrice != null">and price &gt;= #{startPrice} </if>
        <if test="endPrice != null">and price &lt;= #{endPrice} </if>
        <if test="startTime != null">and startTime &gt;= #{startTime} </if>
        <if test="endTime != null">and startTime &lt; #{endTime}</if>
        <if test="flag == 1">and createUser = #{createUser} </if>
        order by createTime desc
    </select>

    <select id="getTutoringsByUser" resultType="Tutoring">
        select id,name,type,price,startTime,endTime,place,weiXin,phone,des,createTime,updateTime,createUser,isScore,orderUser
        from tutoringinfo
        where dataStatus = 1
        and orderUser = #{orderUser}
        <if test="name != null">and name like '%' #{name} '%'</if>
        <if test="type != null">and type = #{type} </if>
        <if test="startPrice != null">and price &gt;= #{startPrice} </if>
        <if test="endPrice != null">and price &lt;= #{endPrice} </if>
        <if test="startTime != null">and startTime &gt;= #{startTime} </if>
        <if test="endTime != null">and startTime &lt; #{endTime}</if>
        order by createTime desc
    </select>

    <select id="getById" resultMap="tutoringinfo">
        select id,name,type,price,startTime,endTime,place,weiXin,phone,des,createTime,updateTime,createUser,checkCode,isScore,orderUser
        from tutoringinfo
        where id = #{id}
    </select>

    <update id="update" parameterType="Tutoring">
        update tutoringinfo
        <set>
            <if test="#{name}!=null">name=#{name},</if>
            <if test="#{type}!=null">type=#{type},</if>
            <if test="#{price}!=null">price=#{price},</if>
            <if test="#{startTime}!=null">startTime=#{startTime},</if>
            <if test="#{endTime}!=null">endTime=#{endTime},</if>
            <if test="#{place}!=null">place=#{place},</if>
            <if test="#{weiXin}!=null">weiXin=#{weiXin},</if>
            <if test="#{phone}!=null">phone=#{phone},</if>
            <if test="#{des}!=null">des=#{des},</if>
            <if test="#{updateUser}!=null">updateUser=#{updateUser.id},</if>
            <if test="#{updateTime}!=null">updateTime=#{updateTime}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="TutoringQuery">
        update tutoringinfo
        set dataStatus = 100
        where
        <choose>
            <when test="id != null">id = #{id}</when>
            <when test="ids != null">
                id in
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </when>
        </choose>
    </delete>

    <insert id="save" parameterType="Tutoring">
      insert into tutoringinfo
      (
        id,
        name,
        type,
        price,
        startTime,
        endTime,
        place,
        weiXin,
        phone,
        des,
        createTime,
        createUser,
        dataStatus,
        viewTimes,
        checkCode
      )
      values
      (
        #{id},
        #{name},
        #{type},
        #{price},
        #{startTime},
        #{endTime},
        #{place},
        #{weiXin},
        #{phone},
        #{des},
        #{createTime},
        #{createUser.id},
        1,
        0,
        #{checkCode}
      )
    </insert>

    <!--用户接单-->
    <update id="updateOrderUser" parameterType="TutoringQuery">
      update tutoringinfo
        set orderUser = #{orderUser}
        where id = #{id}
    </update>

    <!--拒绝接单-->
    <update id="deleteOrderUser" parameterType="TutoringQuery">
        update tutoringinfo
        set orderUser = null,checkCode = #{checkCode},createTime = now()
        where id = #{id}
    </update>

    <!--系统将数据标注为敏感信息-->
    <update id="updateWarning" parameterType="TutoringQuery">
        update tutoringinfo set dataStatus = 101
        where dataStatus in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <!--对系统过滤敏感词的处理-->
    <update id="updateDel" parameterType="TutoringQuery">
        update tutoringinfo set dataStatus = 101
        where dataStatus in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <!--标记为已评论-->
    <update id="updateTutoring">
      update tutoringinfo set isScore = 1 where id = #{tutoringId}
    </update>

    <update id="updateViews" parameterType="BookQuery">
        update tutoringinfo set viewTimes = viewTimes + #{viewTimes} where id = #{id}
    </update>

</mapper>