<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebook.daos.UserAdviceDao">

    <cache type="com.model.utills.redis.RedisCache" />

    <select id="getUserAdvice" resultType="UserAdvice">
        select
           createUser, createTime, dataStatus
        from useradvice
        where dataStatus = 1
        order by createTime desc
    </select>

    <select id="getById" resultType="UserAdvice">
        select
          createUser, des, createTime, dataStatus
        from useradvice
        where id = #{id}
    </select>

    <update id="update">
        update useradvice
        set dataStatus = 0
        where id = #{id}
    </update>

    <delete id="delete" parameterType="UserAdviceQuery">
        delete from useradvice
        where
        id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="save" parameterType="UserAdvice">
        insert into useradvice
        (
            id,
            des,
            createUser,
            createTime,
            dataStatus
        )
        values
        (
            #{id},
            #{des},
            #{createUser.nickname},
            #{createTime},
            #{dataStatus}
        )
    </insert>
</mapper>