<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebook.daos.UserDao">

    <cache type="com.model.utills.redis.RedisCache" />

   <!-- <select id="getUserAdvice" resultType="User">

    </select>

    <select id="getById" resultType="User">

    </select>

    <update id="update" parameterType="User">

    </update>

    <delete id="delete" parameterType="User">

    </delete>

    <insert id="save" parameterType="User">

    </insert>-->
</mapper>