<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ebook.daos.UserDao">

    <cache type="com.model.utills.redis.RedisCache" />

    <select id="getUsers" resultType="User">
      select id,studNo,weiXin,sex,phone,email,score,createTime,updateTime,openId,nickname
      from userinfo
      where dataStatus = 1
      <if test="studNo != null">
          and studNo = #{studNo}
      </if>
    </select>

    <select id="getById" resultType="User">
      select id,studNo,weiXin,sex,phone,email,score,createTime,updateTime,openId,nickname,scoreNumber
      from userinfo
      where id = #{id}
    </select>

    <update id="update" parameterType="User">
      update userinfo
        <set>
            <if test="#{phone}!=null">phone=#{phone},</if>
            <if test="#{email}!=null">email=#{email}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="User">
      update userinfo set dataStatus = 100 where
      id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>

    </delete>

    <insert id="save" parameterType="User">
      insert into userinfo
        (
            id,
            studNo,
            weiXin,
            sex,
            phone,
            email,
            score,
            openId,
            nicname,
            createTime,
            dataStatus
        )
        values
        (
            #{id},
            #{studNo},
            #{weiXin},
            #{sex},
            #{phone},
            #{email},
            #{score},
            #{openId},
            #{nicname},
            #{createTime},
            1
        )
    </insert>

    <!--用户进行评分-->
    <update id="updateScore" parameterType="User">
        update userinfo set score = #{score},scoreNumber = #{scoreNumber}
        where id = #{id}
    </update>

    <select id="getsuperMarkets" parameterType="UserQuery" resultType="User">
        select id,buildingNumber,superMarketName,buildingNum from userinfo
        where buildingNumber = #{buildingNum}
    </select>

</mapper>